:root{
  --text: #333333;

  /* sticky colors */
  --green: #C4FF9C;
  --yellow: #feff9c;
  --blue: #C4FF9C;
  --red: #feff9c;

  --grey: #f1f1f1;
  --darkgrey: #e1e1e1;
  --darkergrey: #c0c0c0;
  --radius: 1rem;

  /* higher values = on top */
  --layer-ui: 99999;
  --layer-pin: 5;
  --layer-lines: 3;
  --layer-item: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemWrapper{
  position:absolute;
  user-select: none;
  width:fit-content;
  z-index: var(--layer-item); 
  /* this doesn't do antyhing. the layers are still broken esp when 
  an item can overlap a pin. it broke after moving position style out into the wrapper class, instead of in the individual pin / img / note classes */
}

.itemHolder{
  border-radius: .2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
  overflow:hidden;
}

.itemSelection{
  position:absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}

.noteItem{
  z-index: var(--layer-item);
  background:var(--yellow);
  padding:1rem;

  resize: both;
  background-size: contain;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
}

.imgItem{
  /* border: 20px solid white; */
  z-index: var(--layer-item);
  
  resize: both;
  background-size: contain;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
}

.board{
  position:relative;
  width:100%;
  height:100%;
}

.boardWrapper{
  display:flex;
  overflow:hidden;
  width:100vw;
  height:100vh;
}

p{
  margin:0;
}

.svgHolder{
  position:absolute;
  pointer-events: none;
  opacity:0.65;
  z-index: var(--layer-lines);
}

@keyframes blink {
  0% {opacity: .25;}
  50% {opacity: .75;}
  100% {opacity: .25;}
}

.previewLine{
  position:absolute;
  opacity:0.5;
  animation-name:blink;
  animation-duration:2s;
  animation-iteration-count: infinite;
  z-index: var(--layer-ui);
}

.pin{
  position:absolute;
  user-select: none;
  pointer-events: none;
  z-index: var(--layer-pin);
}

#ui{
  position:fixed;
  left:0;
  top:0;
  z-index: var(--layer-ui);
}