:root{
  --text: #333333;
  --green: #C4FF9C;
  --yellow: #feff9c;
  --grey: #f1f1f1;
  --darkgrey: #e1e1e1;
  --darkergrey: #c0c0c0;
  --radius: 1rem;

  --layer-pin: 5;
  --layer-lines: 3;
  --layer-note: 0;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noteItem{
  position:absolute;
  user-select: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  z-index: var(--layer-note);

  background:var(--yellow);
  padding:1rem;
}

.noteItem:hover{
  outline: 3px solid var(--darkergrey);
}

.imgItem{
  position:absolute;
  /* pointer-events:none; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  border: 20px solid white;
  z-index: var(--layer-note);
}

.imgItem:hover{
  outline: 3px solid var(--darkergrey);
}

.board{
  position:relative;
  width:100%;
  height:100%;
}

.boardWrapper{
  display:flex;
  overflow:hidden;
  width:100vw;
  height:100vh;
}

p{
  margin:0;
}

.svgHolder{
  position:absolute;
  pointer-events: none;
  opacity:0.65;
  z-index: var(--layer-lines);
}

.pin{
  z-index: var(--layer-pin);
}