:root{
  --text: #333333;

  /* sticky colors */
  --green: #C4FF9C;
  --yellow: #feff9c;
  --blue: #C4FF9C;
  --red: #feff9c;

  --grey: #f1f1f1;
  --darkgrey: #e1e1e1;
  --darkergrey: #c0c0c0;
  --radius: 1rem;

  /* higher values = on top */
  --layer-ui: 99999;
  --layer-pin: 5;
  --layer-lines: 3;
  --layer-item: 0;
}

@keyframes blink {
  0% {opacity: .25;}
  50% {opacity: .75;}
  100% {opacity: .25;}
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemWrapper{
  position:absolute;
  user-select: none;
  width:fit-content;
}

.itemHolder{
  position:relative;
  border-radius: .2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
  overflow:hidden;
}

/* styling for itemHolder when selected*/
.selected{
  outline: 3px solid rgb(0, 0, 0, 0.5);
}

/* selection ui for an item ie the color boxes on notes*/
.itemSelection{
  position:absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}

.noteItem{
  z-index: var(--layer-item);
  background:var(--yellow);
  padding:20px;
  min-width: 120px;
  min-height:25px;

  background-size: contain;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
}

.imgItem{
  /* border: 20px solid white; */
  z-index: var(--layer-item);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
  aspect-ratio: 1/1;
}

.scrapItem{
  background-color: white;
  font-size: xx-large;
  padding: 20px;
}

.board{

}

#boardWrapper{
  width:100vw;
  height:100vh;
}

p{
  margin:0;
}

.svgHolder{
  position:absolute;
  pointer-events: none;
  opacity:0.65;
  z-index: var(--layer-lines);
}

.previewLine{
  position:absolute;
  z-index: var(--layer-ui);
}

.blink{
  opacity:1;
  animation-name:blink;
  animation-duration:2s;
  animation-iteration-count: infinite;
}

.pin{
  position:absolute;
  user-select: none;
  pointer-events: none;
  z-index: var(--layer-ui);
}

#ui{
  position:fixed;
  left:0;
  top:0;
  z-index: var(--layer-ui);
}

.UIButton{
  border:none;
  padding:10px;
  background:rgb(200, 200, 200, 0.5);
  display:flex;
  flex-direction: row;
  backdrop-filter: blur(3px);
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.35);
  gap: 0.5rem;
  margin:10px;
  user-select: none;
}

