:root{
  --text: #333333;

  /* sticky colors */
  --green: #C4FF9C;
  --yellow: #feff9c;
  --blue: #C4FF9C;
  --red: #feff9c;

  --grey: #f1f1f1;
  --darkgrey: #e1e1e1;
  --darkergrey: #c0c0c0;
  --radius: 1rem;

  /* higher values = on top */
  --layer-ui: 99999;
  --layer-pin: 5;
  --layer-lines: 3;
  --layer-item: 0;
}

@keyframes blink {
  0% {opacity: .25;}
  50% {opacity: .75;}
  100% {opacity: .25;}
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: floralwhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemWrapper{
  user-select: none;
  width:fit-content;
  position:absolute;
}

.itemHolder{
  position:relative;
  border-radius: .2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.125);
  overflow:hidden;
}

/* styling for itemHolder when selected*/
.selected{
  outline: 3px solid rgb(0, 0, 0, 0.5);
}

/* selection ui for an item ie the color boxes on notes*/
.itemSelection{
  position:absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
}

.noteItem{
  z-index: var(--layer-item);
  background:var(--yellow);
  padding:20px;
  min-width: 120px;
  min-height:25px;

  background-size: contain;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
}

.imgItem{
  /* border: 20px solid white; */
  z-index: var(--layer-item);
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow:auto;
  overflow:hidden;
  aspect-ratio: 1/1;
}

.scrapItem{
  background-color: white;
  font-size: xx-large;
  padding: 20px;
}

.itemHolder.selected .imgItem:after,
.itemHolder.selected .noteItem:after,
.itemHolder.selected .scrapItem:after {
  content: '\f1ce';
  position: absolute;
  font-family: 'Material Symbols Outlined';
  background: white;
  border: 1px solid;
  bottom: 0;
  right: 0;
  pointer-events: none;
  font-size: 12px;
  width: 14px;
  height: 14px;
  text-align: center;
  transform: rotate(90deg);
  border-radius: 3px;
}

#boardWrapper{
  width:100vw;
  height:100vh;
}

#boardWrapper.cursorCard{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAVCAQAAAAZIo2TAAABfUlEQVQ4T4XRSyhEYRjG8f85Z85cOMYYgxKakZFbsVA2ykZZylZEucRKFqSsbVhThmLJ5DZnLjWDhVJCwkpZSNm4REkuC4zFJM7h4/m276+nrwcAwv+8DEyR0N/fksJIIVQzsbDy/CgmRLCbO2wsXt6IiRJB+0kCJ2dikqaT85OMbRyLScEy5ZhiZWBmW0zqlmhAMhKV1qG4mAyGaTcTC42NITEJ7zJuJgpV+bqYvDzZlnEbiYxLij79sUzrEh1GIpHGZPRQTK6u04NUGImdvq6YmCSTW3uOBTrxfiGVamfs/fUvdHGeGUSnFyVFFJzMrx78fnz/ENxvWrOEGMZn/E1LcdjYc3WrH/XEvTEpwRTd+NE+G1Kx4mF2dPPmbuc0sNO/XhvVEsSYZoRmKimhEA8O5O9ERqOGKBHmmGCINuopw4+PAvJwk4EdxTiohBU3XkoppQQfReSTixsn6dhQkc37p3rsuPCQTRZONBzYUFGQfjv+QipWVCzIyOLTD1m+18l/NWSvAAAAAElFTkSuQmCC) 11 10, auto;
}

#boardBackground{

  width:100vw;
  height:100vh;

  /* background-image: radial-gradient(var(--darkergrey) .25vh, transparent 0); */
}

p{
  margin:0;
}

.svgHolder{
  position:absolute;
  pointer-events: none;
  opacity:0.65;
  z-index: var(--layer-lines);
}

.previewLine{
  position:absolute;
  z-index: var(--layer-ui);
}

.blink{
  opacity:1;
  animation-name:blink;
  animation-duration:2s;
  animation-iteration-count: infinite;
}

.pin{
  position:absolute;
  user-select: none;
  pointer-events: none;
  z-index: var(--layer-ui);
}

#ui{
  position:fixed;
  left:0;
  top:50%;
  transform: translateY(-50%);
  z-index: var(--layer-ui);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.UIGroup{
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0px #22242814;
  border: 0.5px solid #E9EAEF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.UIButton{
  padding:10px;
  display:flex;
  flex-direction: row;
  gap: 0.5rem;
  user-select: none;
  position: relative;
  cursor: pointer;
}

.UIButton svg{
  width: 24px;
  height: 24px;
}

.UITooltip{
  position: absolute;
  left: 130%;
  top: 50%;
  transform: translateY(-50%);
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #222428;
  color: white;
  display: none;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

.UITooltip::before{
  content: '';
  border: 8px solid transparent;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
  border-right-color: #222426;
}

.UIButton:hover{
  background: #F1F2F5;
  border-radius: 8px;
}

.UIButton:not(.UIButtonSelect):hover .UITooltip{
  display: flex;
}

.UIButton.UIButtonSelect{
  background: #d9f5fb;
  border-radius: 8px;
}
.UIButton.UIButtonDisabled{
  opacity: 0.4;
}

.UIHotkeyGroup{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background: #4d515f;
  padding: 0 5px;
  font-size: 12px;
}